html {
  overflow-y: scroll; 
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;  
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 123, 255, 0.479); 
  border-radius: 2px;
}
:root{
  --background: #F7FBFC;
  --main-text: #000;
  --other-text: #2C3E50;
  --other-text-2: whitesmoke;

  --divider-color: rgba(118, 159, 205, 0.2);
  --up-text: #2C5A7A;
  --hover-effect: #5cbbff;

  --btn-color: #769FCD;
  --btn-hover-color: #5B8EC9;
  --btn-border: #D6E6F2;

  --color-1: #B9D7EA; 
  --color-2: #5b8ec9c5;
}

.controls button {
  background: var(--btn-color);
  border: none;
  border-radius: 30px;
  color: whitesmoke;
  font-size: 16px;
  box-shadow: 0px 0px 0px 0.5px var(--btn-border);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;  
}

.controls button:hover{
  background: var(--btn-hover-color);
  color: var(--color-1);
}

.controls button:active {
  opacity: 50%;
}

.loading-moment{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: transparent;
  background: var(--btn-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--btn-hover-color);
  animation: load-spin1 1s infinite;
}
.loading-moment div{
 width: 100%;
 height: 100%;
 background-image: url('https://wavemini.ru/a/wavechat/logo1.png');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 animation: load-spin2 1s linear infinite;
}

.load-mini{
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  border: 4px solid transparent;
  border-left: 4px solid var(--btn-hover-color);
  border-top : 4px solid var(--btn-color);
  transition: all 0.3s;
  animation: load-spin3 1s linear infinite;
}

@keyframes load-spin1 {
  0% { border: 3px solid var(--btn-hover-color); background: var(--btn-color); }
  100% { border: 3px solid var(--btn-color); background: var(--btn-hover-color); }
}
@keyframes load-spin2 {
  0% { transform: scale(2); }
  100% { transform: scale(1); }
}
@keyframes load-spin3 {
  0% { transform: rotate(16deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 768px){
  .controls button:hover{
    background: var(--btn-color) !important;
    color: whitesmoke;
    transform: none !important;
  }
}
